body {
    padding-bottom: 40px;
    color: #111;
      
  }
  
  h1 {
    color: #dd1b14;
  }
  h2, h3, h4, h5, h6 {
      font-size: small;
      color: #3276F5;
  }
  
h2{
    font-size: 20px;

}
  