body {
  padding-bottom: 40px;
  color: #111;
    
}

h1 {
  color: #dd1b14;
}
h2, h3, h4, h5, h6 {
    color: #3276F5;
}

input{padding-left: 100px;

}


.centrer{

margin-left: 800px;

}


